
*~
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn
.idea/
.svn/
*.moved-aside


Blog
Blog/
Basics
Basics/
build/
Build/
*/build/*
Pods
Pods/
Podfile.lock
Pods/Pods.xcodeproj/xcuserdata/Ink.xcuserdatad/xcschemes

DerivedData
xcuserdata
xcshareddata
project_BACKUP_59366.pbxproj
*.xcuserstate
*.xcbkptlist
*.xcscheme
*.xcodeproj/xcuserdata
*.xcuserdatad
*.hmap
*.xccheckout

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

launch.json
.last_build_id
*.lock

# fastlane
fastlane/
*.mobileprovision
Gemfile
Gemfile.lock


/CocoaDebug



